html {
    margin: .5in 1.5in 1.5in 1.5in; 
   }
   body {
   background-color:none;
   font-family: Arial !important;
   }
   form { 
       padding-left: 500px;
}
footer{
    padding-top: 100px;
}
textarea{

    padding-right: 500px;
    float: right;
}
   img#pic {
       display: block;
       margin-left: auto;
       margin-right: auto;
       padding-top:0px;
       padding-bottom: 10px;
     }
     img#Pict {
       width: none;  
       height:70px;
       Padding-top: 20px;
     }
     img#Picf {
       width: none;  
       height:70px;
       Padding-top: 20px;
     }
   p1 {
       padding-left: 120px;
       font-size: 20px;
       text-align: center;
       color:#4F4D4D;
       line-height: 130%;
       list-style-type: none;
       }
      p{ 
          padding-left: 280px;
          width: 750px;
      }
   header {
       background-color:none;
   }
   nav {
       background-color:none
   }
   Select {
       float:right;
Padding-right:0px ;
Width: 200px;
   }
   p{
       padding-left: 500px;
   }
   aside {
       background-color:none;
       }
   main {
       background-color:none;
   }
   h1{
       padding-left: 280px;
       padding-top: 60px;
   }
   h3{padding-left: 280px;
   }
   figure {
       background-color:none;
       padding-left: 280px; 
   }
   footer {
       background-color:none;
       padding-left: 280px;
   }
   ul {
   list-style-type: block;
   margin: 0;
   padding: 0;
   background-color: #F9AA54;
   width: 250px;
   height:100%;
   position: fixed;
   overflow: auto;
   text-align: center;
   font-size: 26px;
   font-family: Verdana;
   line-height: 160%;
   }
   li a{
   display: block;
   width: 250px;
   text-align: center;
   display: block;
   color:#4F4D4D;
   padding: 10px 12px;
   text-decoration: none; 
   }
   li a:hover {
   background-color: #DB8A34;
   color:#4F4D4D;
   }
   
   
     